<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: LightGray;
}

h1 {
  color: black;
  text-align: center;
  font-family: Serifs;
  font-size: 40px
}

p {
  font-family: serifs;
  font-size: 20px;
  color: red;
  text-align: center;
}
</style>
</head>
<body>

<h1>Be-A-Mazed</h1>
<p>Find your way out!</p>

</body>
</html>  
